<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign Up!</title>
	<link rel="stylesheet"  href="/stylesheets/style.css" />
</head>
<body>
	<div class="">

		<h1>Sign Up!</h1>
		<!-- show any messages that come back with authentication -->
		<% if (message.length > 0) { %>
			<div class="alert alert-danger"><%= message %></div>
		<% } %>
		<form action="/signup" method="post">
			user<br><input type="text" name="username" required><br>
			password<br><input type="password" name="password" id="password" required><br>
			Repeat password<br><input type="password" name="password2" id="confirm_password" required><br>
			<select name="tipo">
				<option value="0">Admin</option>
				<option value="1">NoAdmin1</option>
				<option value="2">NoAdmin2</option>
			</select>
			<input type="submit" value="Submit">
		</form> 
		<p>Return? <a href='/profile'>ME</a></p>

	</div>
  <div class="">
  	<h1>Actual Users:</h1>
    	<% for (var i = 0 ; i < empleados.length ; i ++){ %>
      <div>
        	<p>
					User: <%= empleados[i].username %>
					ID: <%= empleados[i].id_u %>
					Tipo: <%= empleados[i].tipo %>
					<form action="/clearUser" method="post">
          	<input type="hidden" name="user_id" value="<%= empleados[i].id_u %>">
          	<input type="hidden" name="user_name" value="<%= empleados[i].username %>">
						<input type="submit" value="Delete!">
					</form>
					<p>
			</div>
			<% } %>
	</div>
  </div>
	<script src="confirm_password.js">
	</script>
</body>
</html>
